/* Login.css */
.card-title {
  color: black; /* Yellow title text color */
}

.btn-primary {
  background-color: darkgreen; /* Yellow button background color */
  border-color: darkgreen; /* Yellow button border color */
  color: black; /* Green button text color */
}
